/* edit */
.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.edit-main {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 1078px;
  height: 760px;
  top: 120px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
}
.input-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.input-column {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

/* input */
.input-container {
  display: block;
  text-align: left;
}
.input-label {
  display: block;
  font-size: 13px;
}
.input-border {
  border-bottom: 1.5px solid #624DE3;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  width: 599px;
  height: 30px;
  font-size: 20px;
}
.input-text {
  font-size: 13px;
}
.input-btn-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  background-color: #F9FAFF;
  width: 1078px;
  height: 104px;
}
